<!DOCTYPE html>
<html lang="en">
<head>
  <title>Volunteer and Client Data</title>
  <link rel = "stylesheet" href="/styles/displaytable.css">

</head>
<body>
    <div class="table-data">
<h1>Matching Information</h1>
    <table border="1" align = "center">
        <tr>
            <th>Username</th>
            <th>Suburb</th>
            <th>Match Day</th>
            <th>Submission Type</th>
        </tr>
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=data.username %></td>
            <td><%=data.suburb %></td>
            <td><%=data.match_day %></td>
            <td><%=data.client_vol %></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    <h3>Make a Match!</h3>
    <form name = "form1" method="POST" action="/match">
            <div class = "form-group">
             <fieldset>
                <label for = "volunttery">Volunteer</label>
                
                <input type="text" name="person_one" placeholder="Volunteer" class="volunteerInput" required>
                <br><br>

                <label for = "clienty">Client</label>
                <input type="text" name="person_two" placeholder="Client" class="clientinput" required>
                <br><br>
              <label for = "suburb">Suburb</label>
              <select name="suburb" id="suburb" class="suburblist">
                <option value="North Dunedin">North Dunedin</option>
                <option value="South Dunedin">South Dunedin</option>
                <option value="Central Dunedin">Central Dunedin</option>
                <option value="North East Valley">North East Valley</option>
                <option value="St Clair">St Clair</option>
                <option value="Mosgiel">Mosgiel</option>
                <option value="Green Island">Green Island</option>
              </select>
              <br><br>
            
              <label for = "match_date">Day</label>
              <select name = "match_date" id = "match_date" class= "daysmatch">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
              </select>
              <br><br>
            </fieldset>
            
            <input type="submit" value="Match" class= "butty">
          </div>
        
          </form>
    </div>
    </body>
    </html>
