<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matches</title>
</head>
<body>
    <div class="table-data">
<h2>Matches</h2>
    <table border="1">
        <tr>
            <th>Volunteer</th>
            <th>Client</th>
            <th>Suburb</th>
            <th>Day</th>
        </tr>
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=data.volunteer %></td>
            <td><%=data.client %></td>
            <td><%=data.suburb %></td>
            <td><%=data.match_date %></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
</div>
</body>
</html>
