body{
    background-color:white;
   }
   
   h1{
    margin-top: 2px;
    text-align: center;
    background-color:rgb(238, 238, 238);

   }
  
label.daylabel{
  font-weight: bold;
  font-size: 50;
  margin-left: 15px;
 
}
label.suburblabel{
  font-weight: bold;
  font-size: 50;
  margin-left: 10px;
 
}
label.submissionlabel{
  font-weight: bold;
  font-size: 50;
}
.daycombo{
  width:150px; 
  height: 20px;
  flex: 0 0 200px;
  margin-left: 30px;
}
.combosuburb{  
  width:150px;
  height: 20px;
}
.submissioncombo{  
  width:150px;
  height: 20px;

}


   form{
    font-size: x-large;
    text-align: center;
    height: 0px;
    padding-top: 10px;
    width: 50%;
   display: inline-block;
    margin-left: 310px;

   }
   
   fieldset
   {
     background-color:rgb(217, 243, 236);
     max-width:500px;
     max-height: 170px;
     padding:10px;
     border-style: solid;
     border-width: thick;
     border-color:rgb(210, 212, 219);
   }
   .bordline
   {
     border-style: solid;
     margin-bottom:0px;
     margin-left:50px;
   }

   footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin : 0;
 line-height : 3px;
  background-color: rgb(219, 217, 217);
  color: rgb(19, 19, 19);
  text-align: center;
}
