body{
    background-color: rgb(247, 234, 244);
}
h1{
    margin-top: 10px;
    text-align: center;
    width: 50%;
    margin-right: 110px;
    margin-left: 290px;
 
    background-color:rgb(226, 175, 175);

   }

   h2{
    text-align: center;
    color:rgb(151, 9, 9);
    

   }

   h3{
    text-align: center;
    color:rgb(151, 9, 9);

} 

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin : 0;
   line-height : 30px;
    background-color: rgb(219, 217, 217);
    color: rgb(19, 19, 19);
    text-align: center;
  }
  
   