body{
    background-color: rgb(184, 197, 214);
}
h1{
    margin-top: 10px;
    text-align: center;
    width: 50%;
    margin-right: 110px;
    margin-left: 290px;
 
    background-color:rgb(228, 233, 241);

   }

   h2{
    text-align: center;
    color:rgb(22, 66, 39);
    font-size: 30px;
    

   }

   h3{
    text-align: center;
    color:rgb(22, 66, 39);
    font-size: 25px;


} 
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin : 0;
   line-height : 3px;
    background-color: rgb(219, 217, 217);
    color: rgb(19, 19, 19);
    text-align: center;
  }
  